@inject IScoped _scoped

<div class="col">Scoped Child: <b>@scoped</b></div>


@code{
    string? scoped;

    protected override void OnInitialized()
    {
        scoped = _scoped.GetGuid();    
    }    
}