@inject ISingleton _singleton

<div class="col">Singleton Child: <b>@singleton</b></div>

@code{
    string? singleton;

    protected override void OnInitialized()
    {
        singleton = _singleton.GetGuid();    
    }    
}