@inject ITransient _transient

<div class="col">Tansient Child: <b>@transient</b></div>

@code{
    string? transient;

    protected override void OnInitialized()
    {
        transient = _transient.GetGuid();    
    }    
}