@if (Visible == true)
{
    <h5>Visible: @Visible</h5>
}


@code {
    private bool Visible = true;

    public void SetVisibility()
    {
        this.Visible = !this.Visible;
        StateHasChanged();
    }
}