@page "/cascadingparameter"

<h4>Base Component</h4>

<CascadingValue Name="TestCounter" Value="counter">
    <Component1 />
</CascadingValue>

<button class="btn btn-primary" @onclick="OnClickCount">
    Count
</button>

@code {
    int counter;

    public void OnClickCount()
    {
        counter++;
    }
}