@page "/formsandvalidaitons"

<h3>Form and Validations</h3>
<br />

<EditForm Model="person">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="card col-6 p-3">
        <div>
            <label class="fw-bold">Id</label>
            <InputNumber class="form-control mb-4" @bind-Value="person.Id" />
        </div>

        <div>
            <label class="fw-bold">Full Name</label>
            <InputText class="form-control mb-4" @bind-Value="person.FullName" />
        </div>

        <div>
            <label class="fw-bold">Email</label>
            <InputText class="form-control mb-4" @bind-Value="person.Email" />
        </div>        
    </div>

</EditForm>

@code {
    Person person = new();
}