@page "/"

<PageTitle>Index</PageTitle>

<a class="btn btn-primary" href="/databinding">24. Data Bindin</a>
<br />
<br />

<a href="/parameters" class="btn btn-primary"> 27. Regular, Route Parameters and EventCallback</a>
<br />
<br />

<a href="/cascadingparameter" class="btn btn-primary"> 28. Cascading Parameters</a>
<br />
<br />

<a href="/refparameter" class="btn btn-primary"> 29. Referencing Child Component</a>
<br />
<br />


