@page "/"

<PageTitle>Index</PageTitle>

<a class="btn btn-primary" href="/databinding">24. Data Bindin</a>
<br /><br />

<div>
    <a href="/parameters" class="btn btn-primary"> 27. Regular, Route Parameters and EventCallback</a>
</div>

